<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= url %> - Panel
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/hatsunai.css" />
    <style>
        a {
            display: block;
        }
    </style>
</head>

<body>
        <div class="navbar">
                <div class="navContents">
                    <a id="hatsunai" href="/"><%= url %></a>
                    <break>  &bull;   </break>
                    <% if (loggedIn) { %>
                    <a id="navlink" href="#">Files</a>
                    <break>  &bull;   </break>
                    <% } %>
                    <a id="navlink" href="https://discord.gg/55UdUhq">Discord</a>
                    <break>  &bull;   </break>
                    <a id="navlink" href="/info">Information</a>
                    <div class="right">
                        <% if (!loggedIn) { %>
                        <a id="navlink" href="/login">Login</a>
                        <break>  &bull;   </break>
                        <a id="navlink" href="/register">Register</a>
                        <% } else { %>
                        Welcome, <%= username %>
                        <% } %>
                    </div>
                </div>
            </div>
    <div id="box">
        <div class="titleAndDesc">
            <h1>Welcome,
                <%= username %>!</h1>
                <p>Token: <%= token %></p>
            <script>
                var request = new XMLHttpRequest();
                var name = "<%= username %>";
                request.open("GET", '/api/v1/getFiles?u=' + name, true);

                request.onload = function () {
                    
                    var data = JSON.parse(this.response);
                    data.forEach(el => {
                        var appObj = document.getElementById('box');
                        var src = "/" + el.fn;
                        
                        var img = document.createElement("img");
                        img.src = src;
                        var linkText = document.createTextNode("View Image: ");

                        var a = document.createElement("a")
                        a.href = "/" + el.fn;
                        a.appendChild(linkText);

                        appObj.appendChild(a);
                        var newLine = document.createElement("br");
                        appObj.appendChild(newLine);
                        appObj.appendChild(newLine);
                        appObj.appendChild(newLine)
                        appObj.appendChild(newLine)
                        appObj.appendChild(newLine);
                        appObj.appendChild(img); 
                        
                    });
                }
                request.send()
            </script>
        </div>
    </div>
</body>

</html>